# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# Django specific
db.sqlite3
media/
static/
*.log
*.pot

# Local environment settings
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.ncb
*.sdf
*.opensdf
*.cache
*.pydevproject
